[Desktop Entry]
Name=Noor Notes
GenericName=Sticky Notes
Comment=Private, offline-first sticky notes for Linux
Exec=noor-notes
Icon=io.github.saamaamr.NoorNotes
Terminal=false
Type=Application
Categories=Utility;Office;
Keywords=notes;sticky;offline;private;xpad;
StartupNotify=true
StartupWMClass=io.github.saamaamr.NoorNotes
